# Ignore SUNRGBD dataset
Vision-RAG/visionrag-backend/room_dataset/SUNRGBD/
# Ignore all .venv directories
**/.venv/

# Ignore all node_modules directories
**/node_modules/

# Ignore macOS system files
.DS_Store

# Ignore other common system files
Thumbs.db

**/.env
# Ignore Python cache directories
__pycache__/
**/__pycache__/
*.py[cod]
/Vision-RAG/visionrag-backend/room_dataset/HomeObjects-3k-Dataset/HomeObjects-dataset