# Ignore all .venv directories
**/.venv/
Amazon-AI-scrap-research/Amazon-Python-Scraper/.venv


#environment files
**/.env

# Ignore all node_modules directories
**/node_modules/

# Ignore macOS system files
.DS_Store

# Ignore other common system files
Thumbs.db


**/.env
# Ignore Python cache directories
__pycache__/
**/__pycache__/
*.py[cod]
#Ignore project specific files
/Vision-RAG/visionrag-backend/Room_Dataset/HomeObjects-dataset
# Ignore SUNRGBD dataset
Vision-RAG/visionrag-backend/room_dataset/SUNRGBD/




