/* RAGAnalyticsComponent.css */

.selectBox {
    margin-bottom: 20px;
  }
  
  .center-align {
    text-align: center;
  }
  
  .AgGrid {
    margin-top: 20px;
  }
  
  .mydict {
    display: flex;
    justify-content: space-between;
  }
  
  .ag-theme-alpine {
    height: 100%;
    width: 100%;
  }
  
  .whitespace-pre-wrap {
    white-space: pre-wrap;
  }
  
  .break-words {
    word-break: break-word;
  }
  
  .text-sm {
    font-size: 0.875rem;
  }
  
  .text-start {
    text-align: start;
  }
  
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  