<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Flask File Uploads</h1>

    <form method='POST' enctype='multipart/form-data'>
        {{ form.hidden_tag() }}
        {{ form.file() }}
        {{ form.submit() }}
    </form>

    {% if latest_file %}
    <p>Latest uploaded file: <a href="{{ latest_file }}">{{ latest_file }}</a></p>
    <form action="{{ url_for('download_file') }}" method="POST">
        <input type="hidden" name="filename" value="{{ latest_file }}">
        <button type="submit">Download File</button>
    </form>
    {% endif %}
</body>
</html>

