.ag-grid-multi-select .select__control {
    min-height: 30px;
    height: 100%;
    border-radius: 0;
    border-color: #ced4da;
  }
  
  .ag-grid-multi-select .select__multi-value {
    background-color: #e9ecef;
    color: #495057;
  }
  
  .ag-grid-multi-select .select__multi-value__label {
    color: #495057;
  }
  
  .ag-grid-multi-select .select__menu {
    border-radius: 0;
    border-color: #ced4da;
  }
  
  .ag-grid-multi-select .select__option--is-focused {
    background-color: #e9ecef;
    color: #495057;
  }
  